@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}






.modal-counting {
    position: relative;
    top: 0;
    width: 50%;
    height: fit-content;
    padding: 15px 25px;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #546792;
    transition: 0.3s ease-in;
}

.modal-counting__answer {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.closing-modal__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.closing-modal__button {
    cursor: pointer;

    font-size: 2rem;
    line-height: 2.5rem;

    background: none;
    color: #ffffff;
    padding: 5px 10px;

    transition: 0.3s ease;
}

.closing-modal__button:hover {
    box-shadow: 0 0 0 1px #ffffff;
}

.closing-modal__confirm-button {
    background-color: #FF0000;
    border: 1px solid #FF0000;
}